.inputWrapper {
    width: 100%;

    label {
        max-width: 11.9rem;
        display: block;

        color: var(--gray-400);

        & + input {
            margin-top: 1rem;
        }
    }

    input {
        width: 100%;
        height: 3.5rem;
        border-radius: 0.3125rem;

        background: var(--white-500);
        border: 1px solid var(--gray-200);

        padding: 1rem 1.5rem;

        color: var(--gray-400);

        &::placeholder {
            color: var(--gray-300);
        }
    }
}