.header {
    background: var(--brown-500);
    color: var(--white-200);
    height: 17.5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 0 1rem;

    border-bottom: 1.5px solid #4F4F5B;

    span {
        display: flex;

        img {
            margin-right: 0.5rem;
        }
    }
}

.perfil {
    font-family: 'IBM Plex Sans', sans-serif;
    
    display: flex;
    align-items: center;
    
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 1.25rem;

        span {
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: var(--gray-300);
        }
    }

    &:hover span {
        text-decoration: underline;
        color: var(--orange-500);
    }

    img {
        width: 4rem;
        max-width: 4rem;
        max-height: 4rem;
        border-radius: 50%;
        border: 2.5px solid var(--orange-500);
    }
}

.summary {
    margin: 2rem 0 2.5rem;

    display: flex;
    justify-content: space-between;
}

.amounts {
    display: flex;
    gap: 2.5rem;

    div {
        display: flex;
        flex-direction: column;
    }

    strong {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.625rem;
    }

    span {        
        line-height: 1.625rem;
    }
}

.content {
    margin: -3rem 0 2.5rem;
}