.header {
    background: var(--brown-500);
    color: var(--white-200);
    padding-bottom: 2.5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 0 1rem;

    border-bottom: 1.5px solid #4F4F5B;

    .logo {
        max-width: 13rem;
        max-height: 3rem;
    }

    span {
        display: flex;

        img {
            margin-right: 0.5rem;
        }
    }
}

.summary {
    margin: 2rem 0 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    gap: 1.5rem;
}

.amounts {
    display: flex;
    gap: 2.5rem;

    div {
        display: flex;
        flex-direction: column;

        // padding: 1rem;
        // background: var(--gray-500);
        // border-radius: 5px;
    }

    strong {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.625rem;
    }

    span {        
        line-height: 1.625rem;
    }
}

.content {
    margin: -3rem 0 2.5rem;
}

@media(max-width: 671px) {
    .summary {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

        .amounts {
            gap: 1.5rem;
        }
    }
}

@media(max-width: 475px) {
    .menu {
        flex-wrap: wrap;
        gap: 1.25rem;

        .imgContainer {
        }

        .logo {
            margin-left: -10rem;
            object-position: 10rem 0;
        }
    }
}