.signinButton {
    width: 100%;
    height: 3.125rem;
    color: var(--white-500);
    background: var(--orange-500);
    border-radius: 5px;

    font-weight: 700;
    text-transform: uppercase;

    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}