.jobsTable {
    width: 100%;
}

.job {
    background: var(--white-500);
    border-radius: 0.3125rem;
    padding: 1.5rem 2rem;

    border: solid 1px var(--gray-200);

    display: grid;
    grid-template-columns: 5% 35% 20% 15% 15% 10%;
    align-items: center;

    position: relative;
    
    & + .job {
        margin-top: 0.5rem;
    }

    &:hover {
      background: linear-gradient(
        90deg,
        rgba(250, 156, 45, 0.1) 0.45%,
        rgba(252, 253, 255, 0.1) 31.4%
      ),
      var(--white-500);

      &::before {
        height: 100%;
      }

      & .column.id span {
        color: var(--orange-500);
      }
    }

    &::before {
      content: '';
      width: 0.25rem;
      height: 0%;

      background: var(--orange-500);
      border-radius: 0.3125rem 0 0 0.3125rem;

      position: absolute;
      left: -1px;
      top: 0;

      transition: all 0.2s;
    }

    .column:last-child {
      justify-self: flex-end;
    }
    
    .column > span {
        display: block;

        font-family: Inter;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.375rem;
        text-transform: uppercase;

        color: var(--gray-300);
    }

    .column > strong {
        font-weight: 600;
        color: var(--gray-400);
    }

    .column.id {
        font: 600 1rem 'IBM Plex Sans', sans-serif;
    }

    .column.name {
        font: 600 1rem 'IBM Plex Sans', sans-serif;
        margin-right: 0.75rem;
        color: var(--gray-500);
        font-size: 1.5rem;
        line-height: 2.125rem;

        white-space: nowrap;// não quebra a linha
        overflow: hidden; //esconde o conteúdo que extrapola os limites
        text-overflow: ellipsis; //mostra os três pontinhos quando o texto extrapolar os limites
    }

    .column.status {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .column.actions {
        display: flex;
        gap: 0.5rem;
        
        button {
            width: 2.5rem;
            height: 2.5rem;
            background: var(--white-500);
            border: solid 1px var(--gray-200);
            border-radius: 0.3125rem;

            transition: background 0.2s;

            &:hover {
                background: var(--white-200);
            }

            svg {
                stroke: var(--gray-400);
            }
        }
    }

    .badge {
        height: 2.5rem;
        border-radius: 2.5rem;
        padding: 0 1.5rem;

        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.625rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &.notStarted {
            background: var(--blue-50);
            color: var(--blue-500);
        }
        &.inProgress {
            background: var(--green-50);
            color: var(--green-500);
        }
        &.closed {
            background: var(--red-50);
            color: var(--red-500);
        }
    }
}

@media(max-width:1390px) {
    .job {
      grid-template-columns: 5% 30% 20% 15% 17.25% 12.25%;
    }
  }
  
  @media(max-width:970px) {
    .job {
      grid-template-columns: 31% 23% 13% 20.25% 12.25%;
    }
    
    .column.id {
      display: none;
    }
  }
  
  @media(max-width:770px) {
    .job {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "lt lt rt"
      "lm lm rm"
      "lb lb rb"
      ;
      gap: .5rem;
    }
  
    .column.id {
      display: none;
    }
  
    .column.name {
      grid-area: lt;
    }
    .column.deadline {
      grid-area: lm;
    }
    .column.amount {
      grid-area: lb;
    }
    .column.status {
      justify-self: end;
      grid-area: rt;
    }
    .column.actions{
      grid-area: rb;
    }
  }

  @media(max-width: 475px) {
    .column.status {
        grid-area: rt;

        .badge {
          height: 2rem;
          padding: 0 1rem;
      }
    }
  }