.cardWrapper {
    // max-width: 22rem;
    // height: 20.625rem;
    background: var(--white-500);
    border: 1px solid var(--gray-200);
    border-radius: 0.3125rem;
    padding: 2.5rem 3.375rem;

    text-align: center;
    
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    &.largeFontSize {
        p {
            font-size: 1.25rem;        
            line-height: 1.875rem;
        }
    }

    p {
        text-align: center;
        width: 16.0625rem;
        margin-top: 1.5rem;
        color: var(--gray-500);
        line-height: 1.625rem;
    }

    strong {
        display: block;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.875rem;
    }

    .actions {
        margin-top: 3rem;
        display: flex;
        gap: 1rem;

        button:first-child {
            flex: 1;
        }

        button:last-child {
            padding: 0 0.75rem;
        }
    }
}

@media(max-width:821px) {
    .cardWrapper {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;

        padding: 2rem 2.375rem 1.5rem;

        // display: flex;
        // align-items: flex-end;
        // justify-content: center;

        // gap: 1.5rem;

        img {
            width: 0;
            height: 0;
            display: none;
        }

        p {
            display: inline-block;
            // text-align: right;
            // margin: 0 auto;
            // // margin-top: 1.5rem;
            margin-top: 0;
        }

        .actions {
            // flex: 1;
    
            margin-top: 1.5rem;
        }
    }
}